.search-input {
    display: flex;
    border: none;
    border-radius: 20px;
    height: 40px;
    color: black;
    min-width: 200px;
    padding: 0px 15px;
    font-size: 16px;
        background-color: rgb(226, 226, 226);

}

.search-bar {
    display: flex;
    align-items: center;
    background-color:  rgb(226, 226, 226);
    border-radius: 20px;
    width: fit-content;
}

.search-icon {
    color: gray;
    margin-right: 5px;
}

.search-input {
    border: none;
    outline: none;
    font-size: 16px;
}
